@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {font-family:'Open Sans',sans-serif;font-size:15px;-webkit-font-smoothing:antialiased;-moz-font-smoothing:grayscale;-moz-osx-font-smoothing:grayscale}
header,
nav {-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:moz-none;-ms-user-select:none;user-select:none}
a {text-decoration:none}

#nav-toggle, #edit-toggle {display:none}

/* Colors */
.ui-state-highlight, .button:hover, header .nav-hamburger:hover > span, nav h1, .button.is-primary,
#listview LI.active > DIV, #listview LI > DIV:hover {background-color:#0cb}
#listview LI.active > DIV, #listview LI > DIV:hover {border-top-color:rgba(255,255,255,0.1)}
header, nav {background-color:#2c3340}
.dashboard > UL > LI, .button, #listview .header, #editview .header {background-color:#178}
#listview LI.active > DIV > SPAN {color:#fff !important}
.button.border:hover {background-color:rgba(255,255,255,0.6)}
.button.border.is-primary {background-color:rgba(255,255,255,0.3)}
/* .button.border.is-primary:hover {background-color:rgba(255,255,255,0.6)} */
.button.is-green {background-color:#2b2}
.button.is-green:hover {background-color:#4d4}
.button.is-red, #nav-toggle:checked ~ header .nav-hamburger:hover > span {background-color:#d22}
.button.is-red:hover {background-color:#f55}
.button.border {background-color:transparent;border:1px solid rgba(255,255,255,0.2)}
.button.border.is-primary {border-color:transparent}

/* Other */
.f-right {float:right}
.button {margin:0;display:inline-block;border:0 none;color:#fff;font:inherit;padding:4px 10px;border-radius:4px;cursor:pointer;font-size:13px;position:relative}
.button.sort {cursor:move}
.button .fa:first-child {margin-right:5px;width:11px}
.button.is-loading {pointer-events:none}
.button.is-loading .fa:before {content:'\f250'}

header {height:50px;position:fixed;left:50px;top:0;right:0;transition:left .4s;z-index:1000;padding-left:44px;overflow:hidden}
header .nav-hamburger {display:block;position:absolute;left:0px;padding:12.5px;cursor:pointer}
header .nav-hamburger > span {display:block;height:3px;background-color:#fff;width:20px;margin:4px 0;transition:opacity .4s,transform .4s;transform-origin:0 50%}
/* header .nav-hamburger:hover > span {background-color:rgba(255,255,255,0.7)} */
/* header .nav-hamburger:hover > span:first-child {transform:translate3d(12px, -2px, 0) rotate(45deg) scaleX(.7)} */
/* header .nav-hamburger:hover > span:last-child {transform:translate3d(12.5px, 1.9px, 0) rotate(-45deg) scaleX(.7)} */
header h2 {color:#fff;font-weight:300;line-height:50px;margin:0}
header .button {float:right;margin-right:7px;margin-top:12px}

nav {position:fixed;top:0;left:0;bottom:0;width:50px;overflow:hidden;transition:width .4s;z-index:2000}
nav:hover,
#nav-toggle:checked ~ nav {width:270px}
#nav-toggle:checked ~ header {left:270px}
#nav-toggle:checked ~ #listview {left:270px}
#nav-toggle:checked ~ header .nav-hamburger > span:first-child {transform:rotate(45deg)}
#nav-toggle:checked ~ header .nav-hamburger > span:nth-child(2) {opacity:0}
#nav-toggle:checked ~ header .nav-hamburger > span:last-child {transform:rotate(-45deg)}
nav h1 {white-space:nowrap;margin:0;font-weight:300;height:50px;line-height:50px}
nav h1 a {color:#fff;display:block}
nav h1 a:hover {background-color:rgba(255,255,255,0.2)}
nav h1 .logo {font-size:30px;display:block;float:left;width:50px;height:50px;line-height:50px;text-align:center}
nav ul {display:block;margin:0;padding:0;clear:both}
nav > ul {position:absolute;top:50px;bottom:0;width:270px;overflow:scroll}
nav ul > li {display:block;margin:0;padding:0;white-space:nowrap;clear:both}
nav ul .fa {display:block;float:left;margin-top:13px;width:50px;clear:both;text-align:center}
nav ul > li > a {color:rgba(255,255,255,0.6);display:block;line-height:40px;}
nav ul > li > a:hover {background-color:rgba(255,255,255,0.06)}
nav ul > li.active > a {background-color:rgba(0,0,0,0.15);color:#fff;font-weight:600}
nav li > ul > li {max-height:0;overflow:hidden;transition:max-height .25s}
nav li ul:before {content:'\f078';color:rgba(255,255,255,0.6);font-family:Fontawesome;display:block;transform:rotate(-90deg);position:absolute;left:245px;margin-top:-25px;transition:transform .25s;font-size:0.8em}
nav li.open ul:before,
nav li:hover ul:before {transform:rotate(0deg)}
nav li li > a {padding-left:10px}
nav li.open > ul > li,
nav li:hover > ul > li {max-height:40px}

#listview {position:fixed;top:50px;left:50px;bottom:0;right:0px;transition:left .4s, right .4s;background-color:#d3d3d3}
#listview .header {line-height:26px;white-space:nowrap}
#listview .header SPAN {display:inline-block;margin:0 6px}
#listview.treeview .header SPAN:first-child {margin-left:18px}
#listview .button.add {margin:7px}
#listview SPAN.center {text-align:center}

#listview .content {position:absolute;top:40px;bottom:0;left:0;right:0;overflow:hidden;overflow-y:auto}
#listview UL {display:block;margin:0;padding:0;white-space:nowrap}
#listview LI {display:block;margin:0;padding:0}
#listview LI > DIV  {margin:0 -4px 0 0;padding:7px;border-bottom:1px solid rgba(0,0,0,0.05);border-top:1px solid rgba(255,255,255,0.35);background-color:#eee;position:relative;cursor:pointer;height:20px;transition:height .25s,padding .25s,opacity .25s}
#listview LI > DIV > SPAN {display:inline-block;color:rgba(0,0,0,0.4);font-size:0.85em;font-weight:400;margin:0 6px}
#listview SPAN.right {text-align:right}
#listview LI > DIV > SPAN:first-of-type {font-weight:400;color:#000;font-size:1em}
#listview.treeview LI > DIV > SPAN:first-of-type {margin-left:18px}
#listview LI > DIV > I {display:block;position:absolute;width:25px;height:100%;top:0;left:0;cursor:pointer;z-index:1}
#listview UL UL {margin-left:25px}
#listview LI UL:before {content:'\f078';display:block;position:absolute;margin:-23px 0 0 -25px;font-family:FontAwesome;width:25px;text-align:center;color:rgba(0,0,0,0.5);font-size:0.7em;transition:transform .25s, margin .25s, opacity .25s}
#listview LI UL.hover:before {color:#fff}
#listview LI UL.closed UL:before {opacity:0;margin-top:0;z-index:-1}
#listview LI UL.closed LI > DIV {height:0;padding-top:0;padding-bottom:0;border-width:0;opacity:0}
#listview LI UL.closed:before {transform:rotate(-90deg)}
#listview LI UL.closed.hover:before {color:#fff}
#listview LI > DIV > DIV.actions {position:absolute;right:6px;top:2px;display:none}
#listview LI > DIV:hover > DIV.actions {display:block}
#listview LI.inactive > DIV > SPAN {text-decoration:line-through;color:rgba(0,0,0,0.3)}

/* #edit-toggle:checked ~ #listview {right:75%} */
#edit-toggle:checked ~ #editview {left:25%}
#editview {position:fixed;left:100%;width:75%;bottom:0;top:50px;transition:left 0.6s;background-color:#eee}
#listview .header,
#editview .header {position:absolute;left:0;right:0;height:28px;padding:6px 7px;border-left:1px solid rgba(0,0,0,0.1);color:#fff}
#editview .header LABEL {display:inline-block;padding:5px 0;font-size:13px}
#editview .content {position:absolute;top:40px;bottom:0;left:0;right:0;padding:7px;overflow:auto;border-left:1px solid #d3d3d3}
#editview .content LABEL {display:block;color:rgba(0,0,0,0.5);padding:10px 0 3px;font-size:0.95em;position:relative}
#editview .content LABEL:first-of-type {padding-top:0}
#editview .content SELECT,
#editview .content TEXTAREA,
#editview .content INPUT[type=password],
#editview .content INPUT[type=number],
#editview .content INPUT[type=date],
#editview .content INPUT[type=text] {width:100%;display:block;margin:0;padding:4px 6px;background-color:rgba(255,255,255,0.5);box-sizing:border-box;font:inherit;border-radius:3px;border:1px solid rgba(0,0,0,0.2)}
#editview .content INPUT[type=checkbox] {margin:0;font-size:1.1em}
#editview .content SELECT {width:auto;max-width:100%}
#editview .content TEXTAREA {min-height:5em;resize:vertical;line-height:1.2em}
#editview .content TEXTAREA:focus,
#editview .content INPUT[type=password]:focus,
#editview .content INPUT[type=number]:focus,
#editview .content INPUT[type=date]:focus,
#editview .content INPUT[type=text]:focus {outline:none;border-color:rgba(0,0,0,0.4);background-color:#fff}
#editview .content .error {border-color:#d99 !important;background-color:#fee !important}
#editview .content .error:focus {border-color:#d77 !important;background-color:#fff6f6 !important}
#editview .content .errormsg {color:#c33;position:absolute;right:0}
#editview .model-id {color:rgba(255,255,255,0.25)}
#editview .model-id #input_id {color:rgba(255,255,255,0.7)}

.fullpage {position:fixed;top:50px;left:50px;bottom:0;right:0px;transition:left .4s, right .4s;background-color:#d3d3d3;padding:1em}
.fullpage H2 {margin:0;font-weight:300}

.ui-state-highlight {background-color:rgba(0,0,0,0.2) !important;border-color:transparent !important}
.ui-sortable-helper > DIV {cursor:move !important}

.loading {position:fixed;top:0;bottom:0;left:0;right:0;z-index:1500;display:none;transition:background-color .4s;cursor:wait}
.loading.show {display:block}
.loading.full {background-color:rgba(0,0,0,0.6)}
.loading .fa {position:absolute;left:50%;top:50%;color:#fff;font-size:40px;margin:-20px 0 0 -20px;color:rgba(0,0,0,0.5);transition:color .4s}
.loading.full .fa {color:#fff}

.dashboard > UL {display:flex;padding:1em 0;margin:0;width:100%;flex-wrap:wrap;margin:-1%}
.dashboard > UL > LI {display:flex;padding:0;margin:1%;flex-basis:80px;flex-grow:1;text-align:center;border-radius:4px;position:relative}
.dashboard > UL > LI.active {display:none}
.dashboard > UL > LI > A {color:rgba(255,255,255,0.6);display:block;padding:10px;line-height:1.3em;width:100%}
.dashboard > UL > LI > A > .fa {color:rgba(255,255,255,0.8);display:block;font-size:3em;margin:10px}
.dashboard > UL > LI > A:hover {background-color:rgba(255,255,255,0.3)}

.ui-datepicker {font-size:0.9em !important;font-family: inherit !important}
.ui-widget button {font-family: inherit !important}

.mce-panel {border-radius:4px}
.mce-first {position:-webkit-sticky !important;position:sticky !important;top:-7px}

@media (max-width: 650px) {
    .button {padding:5px;font-size:12px}
    #editview .header .button {font-size:13px;padding:5px 10px}
    #editview .header .button > span {display:none}
    #editview .header .button .fa:first-child {margin:auto;display:block}
    #edit-toggle:checked ~ #editview {left:50px}
    #editview {width:calc(100% - 50px)}
}
