@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {font-family:'Open Sans',sans-serif;font-size:15px;-webkit-font-smoothing:antialiased;-moz-font-smoothing:grayscale;-moz-osx-font-smoothing:grayscale}
header,
nav {-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:moz-none;-ms-user-select:none;user-select:none}
a {text-decoration:none}

/* Colors */
.ui-state-highlight, .button:hover, header .nav-hamburger:hover > span, nav h1, .button.is-primary,
#listview LI.active > DIV, #listview LI > DIV:hover, #listview .table LI:hover, #listview .table LI.active {background-color:#0cb}
#listview LI.active > DIV, #listview LI > DIV:hover, #listview .table LI:hover > SPAN, #listview .table LI.active > SPAN {border-top-color:rgba(255,255,255,0.1)}
header, nav {background-color:#2c3340}
.dashboard > UL > LI, .button, #listview .header, #editview .header {background-color:#178}
#listview LI.active > DIV > SPAN, #listview .table LI.active > SPAN {color:#fff !important}
.button.border.active {background-color:rgba(255,255,255,0.25)}
.button.border:hover {background-color:rgba(255,255,255,0.6)}
.button.border.is-primary {background-color:rgba(255,255,255,0.3)}
/* .button.border.is-primary:hover {background-color:rgba(255,255,255,0.6)} */
.button.is-green {background-color:#2b2}
.button.is-green:hover {background-color:#4d4}
.button.is-red, nav.expanded ~ header .nav-hamburger:hover > span {background-color:#d22}
.button.is-red:hover {background-color:#f55}
.button.border {background-color:transparent;border:1px solid rgba(255,255,255,0.2)}
.button.border.is-primary {border-color:transparent}

/* Other */
.f-right {float:right}
.button {margin:0;display:inline-block;border:0 none;color:#fff;font:inherit;padding:4px 10px;border-radius:4px;cursor:pointer;font-size:13px;position:relative}
.button.sort {cursor:move}
.button > span:nth-of-type(2) {opacity:0.6}
.button > span:nth-of-type(1) {margin-left:5px}
.button.start {border-right:0 none;border-top-right-radius:0;border-bottom-right-radius:0}
.button.mid {border-radius:0}
.button.end {border-left:0 none;border-top-left-radius:0;border-bottom-left-radius:0}
.button.small {padding:0;font-size:12px;width:20px;height:20px}
.button.is-loading {pointer-events:none}
.button.is-loading .fa:before {content:'\f250'}

header {height:50px;position:fixed;left:50px;top:0;right:0;transition:left .4s;z-index:1000;padding-left:44px;overflow:hidden}
header .nav-hamburger {display:block;position:absolute;left:0px;padding:12.5px;cursor:pointer}
header .nav-hamburger > span {display:block;height:3px;background-color:#fff;width:20px;margin:4px 0;transition:opacity .4s,transform .4s;transform-origin:0 50%}
/* header .nav-hamburger:hover > span {background-color:rgba(255,255,255,0.7)} */
/* header .nav-hamburger:hover > span:first-child {transform:translate3d(12px, -2px, 0) rotate(45deg) scaleX(.7)} */
/* header .nav-hamburger:hover > span:last-child {transform:translate3d(12.5px, 1.9px, 0) rotate(-45deg) scaleX(.7)} */
header h2 {color:#fff;font-weight:300;line-height:50px;margin:0;white-space:nowrap}
header .button {float:right;margin-right:7px;margin-top:12px}

nav {position:fixed;top:0;left:0;bottom:0;width:50px;overflow:hidden;transition:width .4s;z-index:2000}
nav:hover,
nav.expanded {width:270px}
nav.expanded ~ header {left:270px}
nav.expanded ~ #listview {left:270px}
nav.expanded ~ header .nav-hamburger > span:first-child {transform:rotate(45deg)}
nav.expanded ~ header .nav-hamburger > span:nth-child(2) {opacity:0}
nav.expanded ~ header .nav-hamburger > span:last-child {transform:rotate(-45deg)}
nav h1 {white-space:nowrap;margin:0;font-weight:300;height:50px;line-height:50px}
nav h1 a {color:#fff;display:block}
nav h1 a:hover {background-color:rgba(255,255,255,0.2)}
nav h1 .logo {font-size:30px;display:block;float:left;width:50px;height:50px;line-height:50px;text-align:center}
nav ul {display:block;margin:0;padding:0;clear:both}
nav > ul {position:absolute;top:50px;bottom:0;width:270px;overflow:scroll}
nav ul > li {display:block;margin:0;padding:0;white-space:nowrap;clear:both}
nav ul .fa {display:block;float:left;margin-top:13px;width:50px;clear:both;text-align:center}
nav ul > li > a {color:rgba(255,255,255,0.6);display:block;line-height:40px;}
nav ul > li > a:hover {background-color:rgba(255,255,255,0.06)}
nav ul > li.active > a {background-color:rgba(0,0,0,0.15);color:#fff;font-weight:600}
nav li > ul > li {max-height:0;overflow:hidden;transition:max-height .25s}
nav li ul:before {content:'\f078';color:rgba(255,255,255,0.6);font-family:Fontawesome;display:block;transform:rotate(-90deg);position:absolute;left:245px;margin-top:-25px;transition:transform .25s;font-size:0.8em}
nav li.open ul:before,
nav li:hover ul:before {transform:rotate(0deg)}
nav li li > a {padding-left:10px}
nav li.open > ul > li,
nav li:hover > ul > li {max-height:40px}

#listview {position:fixed;top:50px;left:50px;bottom:0;right:0px;transition:left .4s, right .6s;background-color:#d3d3d3;overflow:auto}
#listview.expanded {right:75%}
#listview .header {position:-webkit-sticky;position:sticky;top:0px;left:0;right:0;height:28px;padding:6px 7px;border-left:1px solid rgba(0,0,0,0.1);color:#fff;overflow:hidden;z-index:1}
#listview .header {line-height:26px;white-space:nowrap}
#listview .header SPAN {display:inline-block;margin:0 6px}
#listview.treeview .header SPAN:first-child {margin-left:18px}
#listview .button.add {margin:7px}
#listview SPAN.center {text-align:center}
#listview SPAN.right {text-align:right}

#listview .content {position:absolute;top:0;bottom:0;left:0;right:0;overflow:hidden;overflow-y:auto}
#listview UL {display:block;margin:0;padding:0;white-space:nowrap}
#listview LI {display:block;margin:0;padding:0;cursor:pointer}
#listview LI > DIV  {margin:0 -4px 0 0;padding:6px 7px 7px;border-bottom:1px solid rgba(0,0,0,0.05);border-top:1px solid rgba(255,255,255,0.35);background-color:#eee;position:relative;height:20px;transition:height .25s,padding .25s,opacity .25s}
#listview LI > DIV > SPAN {display:inline-block;color:rgba(0,0,0,0.4);font-size:0.85em;font-weight:400;margin:0 6px}
#listview LI > DIV > SPAN:first-of-type {font-weight:400;color:#000;font-size:1em}
#listview.treeview LI > DIV > SPAN:first-of-type {margin-left:18px}
#listview LI > DIV > I {display:block;position:absolute;width:25px;height:100%;top:0;left:0;cursor:pointer;z-index:1}
#listview UL UL {margin-left:25px}
#listview LI UL:before {content:'\f078';display:block;position:absolute;margin:-23px 0 0 -25px;font-family:FontAwesome;width:25px;text-align:center;color:rgba(0,0,0,0.5);font-size:0.7em;transition:transform .25s, margin .25s, opacity .25s}
#listview LI UL.hover:before {color:#fff}
#listview LI UL.closed UL:before {opacity:0;margin-top:0;z-index:-1}
#listview LI UL.closed LI > DIV {height:0;padding-top:0;padding-bottom:0;border-width:0;opacity:0}
#listview LI UL.closed:before {transform:rotate(-90deg)}
#listview LI UL.closed.hover:before {color:#fff}

#listview .table {display:table;width:100%;position:relative;top:auto;left:auto;bottom:auto;right:auto;overflow:auto}
#listview .table .header {display:table-row}
#listview .table .header SPAN {display:table-cell;padding:6px 0 8px 13px}
#listview .table UL {display:table-row-group}
#listview .table UL > LI {display:table-row;background-color:#eee}
#listview .table UL > LI > SPAN {color:rgba(0,0,0,0.4);font-size:0.85em;display:table-cell;padding:5px 0 6px 13px;border-bottom:1px solid rgba(0,0,0,0.05);border-top:1px solid rgba(255,255,255,0.35)}
#listview .table UL > LI > SPAN:first-of-type {font-weight:400;color:#000;font-size:1em}
#listview .table UL > LI > SPAN:last-of-type {width:100%}

#listview .table UL LI.inactive > SPAN,
#listview LI.inactive > DIV > SPAN {text-decoration:line-through;color:rgba(0,0,0,0.3)}

#editview.expanded {left:25%}
#editview {position:fixed;left:100%;width:75%;bottom:0;top:50px;transition:left 0.6s;background-color:#eee}
#editview .header {position:absolute;left:0;right:0;height:28px;padding:6px 7px;border-left:1px solid rgba(0,0,0,0.1);color:#fff;overflow:hidden}
#editview .header LABEL {display:inline-block;padding:5px 0;font-size:13px}
#editview .content {position:absolute;top:40px;bottom:0;left:0;right:0;padding:7px;overflow:auto;border-left:1px solid #d3d3d3}
#editview .content LABEL {display:block;color:rgba(0,0,0,0.5);padding:10px 0 3px;font-size:0.95em;position:relative}
#editview .content LABEL:first-of-type {padding-top:0}
#editview .content SELECT,
#editview .content TEXTAREA,
#editview .content INPUT[type=password],
#editview .content INPUT[type=number],
#editview .content INPUT[type=date],
#editview .content INPUT[type=text] {width:100%;display:block;margin:0;padding:4px 6px;background-color:rgba(255,255,255,0.5);box-sizing:border-box;font:inherit;border-radius:3px;border:1px solid rgba(0,0,0,0.2)}
#editview .content INPUT[type=checkbox] {margin:0;font-size:1.1em}
#editview .content SELECT {width:auto;max-width:100%}
#editview .content TEXTAREA {min-height:5em;resize:vertical;line-height:1.2em}
#editview .content TEXTAREA:focus,
#editview .content INPUT[type=password]:focus,
#editview .content INPUT[type=number]:focus,
#editview .content INPUT[type=date]:focus,
#editview .content INPUT[type=text]:focus {outline:none;border-color:rgba(0,0,0,0.4);background-color:#fff}
#editview .content .error {border-color:#d99 !important;background-color:#fee !important}
#editview .content .error:focus {border-color:#d77 !important;background-color:#fff6f6 !important}
#editview .content .errormsg {color:#c33;position:absolute;right:0}
#editview .model-id {color:rgba(255,255,255,0.25)}
#editview .model-id #input_id {color:rgba(255,255,255,0.7)}
#editview TEXTAREA.images {display:none}
#editview UL.input_images {display:block;padding:0;margin:0 0 0 -5px}
#editview UL.input_images:after {content:'';display:block;clear:both}
#editview UL.input_images > LI {display:block;float:left;padding:0;margin:2px 0 3px 5px;position:relative;cursor:pointer;border-radius:3px}
#editview UL.input_images > LI > IMG {height:90px;display:block;border-radius:3px}
#editview UL.input_images > LI > SPAN {position:absolute;font-size:0.8em;left:0;right:0;bottom:0;max-height:100%;text-shadow:#000 0 1px 2px;color:#fff;padding:2px 3px;overflow:hidden;text-align:center;opacity:0.4;font-weight:600}
#editview UL.input_images > LI:hover {background-color:#0cb}
#editview UL.input_images > LI:hover > IMG {opacity:0.6}
#editview UL.input_images > LI:hover > SPAN {opacity:1}
#editview UL.input_images > LI .button.delete {top:5px;right:5px;position:absolute;z-index:1}
#editview UL.input_images > LI:not(:hover) .button {display:none}
#editview UL.input_images > .button.add {position:relative;margin:2px 0 0 5px;display:block;float:left}
#editview UL.input_images > .button.add:not(:first-child) {width:45px;height:90px;opacity:0.3}
#editview UL.input_images > .button.add:not(:first-child):hover {opacity:1}
#editview UL.input_images.image > .button.add:not(:first-child) {display:none}
#media_browser {position:fixed;top:0;bottom:0;left:0;right:0;background-color:rgba(0,0,0,0.6);z-index:70000}
#media_browser > IFRAME {border:0 none;position:fixed;left:10%;top:10%;width:80%;height:80%;display:block;box-shadow:rgba(0,0,0,0.8) 0 3px 8px}

/* Media */
#editview UL.media {display:block;margin:-7px 0 0 -7px;padding:0;display:flex;flex-wrap:wrap}
#editview UL.media > LI {display:block;margin:0;padding:0;position:relative;background-color:rgba(0,0,0,0.1);margin:7px 0 0 7px;padding:7px;border-radius:4px;text-align:center;font-size:12px;border:1px solid rgba(0,0,0,0.05);overflow:hidden;cursor:default}
#editview UL.media > LI:hover {background-color:#0cb}
#editview UL.media .img {background-size:contain;background-position:center center;background-repeat:no-repeat;width:200px;height:160px;margin:0 auto 5px;line-height:120px;color:rgba(255,255,255,0.5);font-size:40px;font-weight:600;text-transform:capitalize}
#editview UL.media .details {color:rgba(0,0,0,0.5)}
#editview .content.th-large UL.media .img {width:100px;height:75px;line-height:75px;font-size:30px}
#editview .content.th-large UL.media > LI {font-size:11px;padding:3px;width:100px}
#editview .content.th-large UL.media > LI > div.details {display:none}
#editview .content.list {padding-right:3px}
#editview .content.list UL.media {display:block}
#editview .content.list UL.media > LI {text-align:left;padding:0;margin:3px 0 0 3px;border:0 none}
#editview .content.list UL.media .img {width:50px;height:34px;line-height:34px;float:left;margin:0 10px 0 0;font-size:20px;text-align:center;background-size:cover}
#editview .content.list UL.media .filename {float:left;width:50%;font-size:14px;line-height:34px}
#editview .content.list UL.media .details {line-height:34px;color:rgba(0,0,0,0.6)}
#editview #current_report,
#editview #current_folder {color:rgba(255,255,255,0.8);font-size:1.3em;text-transform:capitalize;line-height:18px}
#editview #current_folder > SPAN {color:rgba(255,255,255,0.25);margin:0 5px}
#fileupload {display:none}
#editview UL.upload-progress {display:block;padding:0;margin:-7px}
#editview UL.upload-progress>LI {background-color:#fff;display:block;padding:0 0 0 30px;margin:0;position:relative;border-bottom:1px solid rgba(0,0,0,0.2);clear:both;line-height:2em}
#editview UL.upload-progress>LI:last-child {margin-bottom:7px}
#editview UL.upload-progress>LI>SPAN.but {position:absolute;display:block;background-color:#d33;color:#fff;width:20px;height:20px;margin:0 4px 0 0;text-align:center;border-radius:4px;font-size:15px;cursor:pointer;left:7px;top:50%;margin-top:-10px}
#editview UL.upload-progress>LI>SPAN.but:before {content:'\f05e';font-family:'Fontawesome';font-size:14px;margin-top:-5px;display:block}
#editview UL.upload-progress>LI.error>SPAN.but:before {content:'\f00d'}
#editview UL.upload-progress>LI.done>SPAN.but:before {content:'\f00c'}
#editview UL.upload-progress>LI>DIV {background-color:rgba(0,200,0,0.4);height:2em;width:0%;position:absolute;left:0;top:0}
#editview UL.upload-progress>LI.done>SPAN.but {background-color:#3b3;font-size:11px}
#editview UL.upload-progress>LI.error {background-color:#fdd}
#editview UL.upload-progress>LI.done {background-color:#dfd}
#editview UL.upload-progress>LI.done DIV {display:none}
#editview UL.upload-progress>LI.error DIV {display:none}
#editview UL.media LI .button {position:absolute}
#editview UL.media LI .button.delete {top:7px;right:7px}
#editview UL.media LI .button.rename {top:7px;left:7px}
#editview .content.list UL.media LI .button.delete {top:7px;right:7px}
#editview .content.list UL.media LI .button.rename {top:7px;right:34px;left:auto}
#editview .content.list UL.media LI .button.rename:hover {background-color:#178;opacity:0.7}
#editview UL.media LI:not(:hover) .button {display:none}

.fullpage {position:fixed;top:50px;left:50px;bottom:0;right:0px;transition:left .4s, right .4s;background-color:#d3d3d3;padding:1em}
.fullpage H2 {margin:0;font-weight:300}

.ui-state-highlight {background-color:#0cb !important;border:0 none !important;opacity:0.4}
.ui-sortable-helper > DIV {cursor:move !important}

.loading {position:fixed;top:0;bottom:0;left:0;right:0;z-index:1500;display:none;transition:background-color .4s;cursor:wait}
.loading.show {display:block}
.loading.full {background-color:rgba(0,0,0,0.6)}
.loading .fa {position:absolute;left:50%;top:50%;color:#fff;font-size:40px;margin:-20px 0 0 -20px;color:rgba(0,0,0,0.5);transition:color .4s}
.loading.full .fa {color:#fff}

.dashboard > UL {display:flex;padding:1em 0;margin:0;flex-wrap:wrap;margin:-1%}
.dashboard > UL > LI {display:flex;padding:0;margin:1%;flex-basis:80px;flex-grow:1;text-align:center;border-radius:4px;position:relative}
.dashboard > UL > LI.active {display:none}
.dashboard > UL > LI > A {color:rgba(255,255,255,0.6);display:block;padding:10px;line-height:1.3em;width:100%}
.dashboard > UL > LI > A > .fa {color:rgba(255,255,255,0.8);display:block;font-size:3em;margin:10px}
.dashboard > UL > LI > A:hover {background-color:rgba(255,255,255,0.3)}

#editview .content.report {padding:0}
TABLE.report {border-spacing:0;border-collapse:collapse;width:100%;cursor:default}
TABLE.report TH {position:-webkit-sticky;position:sticky;top:0;background-color:#ddd;font-weight:100;padding:3px 7px;text-align:left}
TABLE.report TD {font-weight:100;padding:2px 7px;border:1px solid #ddd}
TABLE.report TD > DIV {max-height:100px;overflow:auto}
TABLE.report TR:hover > TD {background-color:#0cb;border-color:#0cb}

.browse nav,
.browse header {display:none}
.browse #listview {top:0;left:0}
.browse #editview {top:0}

.ui-datepicker {font-size:0.9em !important;font-family: inherit !important}
.ui-widget button {font-family: inherit !important}

.mce-panel {border-radius:3px}
.mce-first {position:-webkit-sticky !important;position:sticky !important;top:-7px}
.mce-tinymce {box-shadow:none !important;box-sizing:border-box !important}

@media (min-width:651px) {
    nav.expanded ~ .fullpage {left:270px}
    nav.expanded ~ #listview.expanded {right:50%}
    nav.expanded ~ #editview.expanded {left:50%;width:50%}
}
@media (max-width: 650px) {
    #editview .header {white-space:nowrap}
    #editview .header .button {padding-left:5px;padding-right:3px;max-width:20%}
    #editview .header .button > span {font-size:12px}
    #editview.expanded {left:50px}
    #editview {width:calc(100% - 50px)}
}

@media print {
    nav,header,#listview {display:none}
    #editview {left:0;top:0;right:0;bottom:0}
/*     TABLE.report {position:absolute} */
}
