@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

:root {
    /* Color variables */
    --dark: #2c3340;
    --light: #0cb;
    --normal: #178;
    --text-light: #fff;
    --text-dark: #000;

    /* Padding/Margin/Dimensions */
    --p-header: 5px 10px;

    /* Font sizes */
    --fs-header: 1.5em;
}

BODY {background:var(--dark);color:var(--text-light);font-family:'Open Sans',sans-serif;font-size:15px;-webkit-font-smoothing:antialiased;-moz-font-smoothing:grayscale;-moz-osx-font-smoothing:grayscale;font-weight:300}
A {color:inherit;text-decoration:none}

.popup {max-width:90%;max-height:90%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background:var(--normal)}
.popup HEADER H2 {background:var(--light);padding:var(--p-header);font-size:var(--fs-header);font-weight:inherit}
.popup .form {padding:10px}
.popup LABEL {display:block}
.popup BUTTON,
.popup INPUT {max-width:100%;border:1px solid rgba(255,255,255,.25);font:inherit;background:transparent;border-radius:4px;margin:5px 0 10px;padding:5px 10px;color:var(--text-light)}
.popup INPUT {display:block;width:360px}
.popup INPUT:focus {outline:none}
.popup BUTTON {margin-top:10px}
.popup BUTTON I {margin-right:5px}
.popup BUTTON:hover {background-color:var(--light);cursor:pointer}
.popup .error {color:#f66;font-weight:700}

@media (max-width:750px) {
    :root {
        --header: red;
    }
}