@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

:root {
    /* Color variables */
    --dark: #2c3340;
    --light: #0cb;
    --normal: #178;
    --text-light: #fff;
    --text-dark: #000;
    --text-medium: rgba(0,0,0,0.4);
    --grey: #ddd;
    --grey-light: #eee;
    --red: #f66;
    --bg-input: rgba(255,255,255,0.15);
    --bg-input-focus: rgba(255,255,255,0.3);

    /* Root font size for rem units */
    font-size:10px;

    --border-radius: 4px;
    --header-height: 50px;

    /* Font sizes */
    --fs-body: 15px;
    --fs-header: 1.5em;
    --fs-logo: 32px;
}

BODY {background:var(--dark);font-family:'Open Sans',sans-serif;font-size:var(--fs-body);-webkit-font-smoothing:antialiased;-moz-font-smoothing:grayscale;-moz-osx-font-smoothing:grayscale}
A {color:inherit;text-decoration:none}

.app {display:flex}
.module {background-color:var(--grey);min-height:100vh;flex:1 1 auto;position:relative;overflow:hidden}
.module HEADER {background-color:var(--dark);line-height:var(--header-height);padding:0 1.5rem;color:var(--text-light);height:var(--header-height)}
.module H2 {font-size:var(--fs-header);font-weight:300;float:left}
.module HEADER BUTTON {border:0 none;font:inherit;line-height:3rem;border-radius:var(--border-radius);background:var(--bg-input);color:var(--text-light);margin-left:1rem;padding:0 1rem;cursor:pointer;font-size:0.9em}
.module HEADER BUTTON I {opacity:0.5;margin-right:.5rem}
.module HEADER BUTTON:hover {background:var(--light)}
.module HEADER BUTTON:hover I {opacity:1}
.module-content {padding:1.5rem}

.logo {background-color:var(--light);font-size:var(--fs-header);padding-right:1.5rem}
.logo I {font-size:var(--fs-logo);float:left}

nav .logo,
nav .logo I {line-height:var(--header-height);font-weight:300}

nav {color:var(--text-light);background-color:var(--dark);overflow:hidden;white-space:nowrap;max-width:300px}
nav UL {font-weight:500;line-height:4rem}
nav I {width:var(--header-height);text-align:center;font-size:0.95em}
nav UL A,
nav FORM {display:block;cursor:pointer;padding-right:1.5rem}
nav LI {opacity:.6}
nav LI I {width:4rem}
nav LI.active {background-color:rgba(1,1,1,.15);opacity:1;font-weight:500}
nav LI:hover {background-color:rgba(255,255,255,.06)}

.login {display:flex;height:100%;align-items:center;justify-content:center;padding:1.5rem;background-color:var(--dark)}
.login .popup {background:var(--normal);color:var(--text-light);border-radius:var(--border-radius);overflow:hidden;flex-basis:38rem}
.login HEADER {background:var(--light);padding:.75rem 1.5rem;line-height:normal}
.login .logo {font-weight:300}
.login .logo I {margin-right:.5rem}
.login .form {padding:1.5rem}
.login BUTTON,
.login INPUT {border:0 none;font:inherit;background:var(--bg-input);border-radius:var(--border-radius);margin:.5rem 0 1.5rem;padding:.5rem .75rem;color:var(--text-light)}
.login INPUT {display:block;width:100%}
.login INPUT:focus {outline:none;background-color:var(--bg-input-focus)}
.login BUTTON {margin-bottom:0}
.login BUTTON I {margin-right:.75rem}
.login BUTTON:hover {background-color:var(--bg-input-focus);cursor:pointer}
.login .error {color:var(--red);font-weight:700;margin-bottom:.75rem}

.dashboard-buttons {display:flex;flex-wrap:wrap;margin:.75rem -.75rem}
.dashboard-buttons LI {flex:0 0 15rem;background-color:var(--normal);color:var(--text-light);text-align:center;border-radius:var(--border-radius);margin:.75rem}
.dashboard-buttons FORM,
.dashboard-buttons A {display:block;padding:1.5rem;cursor:pointer;opacity:0.8}
.dashboard-buttons LI I {font-size:2em;margin-bottom:1rem;display:block}
.dashboard-buttons LI:hover {background-color:var(--light)}

.listview {position:absolute;top:var(--header-height);width:100%;bottom:0;left:0;overflow:auto;transition:width .4s;background-color:var(--grey-light)}
.listview TH {color:var(--text-light);font-weight:inherit;line-height:4rem;text-transform:capitalize}
.listview TR:first-child, .listview TH {background-color:var(--normal);position:sticky;top:0;position:-webkit-sticky;z-index:2}
.listview TH:last-child {width:100%}
.listview TH:first-child {z-index:3}
.listview TH,
.listview TD {white-space:nowrap;text-align:left;padding-right:1.5rem}
.listview TD {line-height:2.6rem;padding-top:.5vh;padding-bottom:.5vh;max-width:50vw;text-overflow:ellipsis;overflow:hidden;box-shadow:inset 0 1px 0 rgba(255,255,255,0.35),inset 0 -1px 0 rgba(0,0,0,0.05)}
.listview TD:not(:first-child) {font-size:0.85em;color:var(--text-medium)}
.listview TH:first-child,
.listview TD:first-child {position:sticky;left:0;position:-webkit-sticky;padding-left:1.5rem}
.listview TR:not(:first-child):hover TD {background-color:var(--light);cursor:pointer;box-shadow:none}
.listview TR:not(:first-child).active TD {background-color:var(--light);box-shadow:none;color:var(--text-light)}

.editor {position:absolute;top:var(--header-height);width:75%;bottom:0;right:0;overflow:auto;transform:translateX(100%);transition:transform .4s}

.editor .buttons {background-color:var(--normal);height:4rem;color:var(--text-light);font-size:0.9em;padding:.5rem 1rem;line-height:3rem}
.editor .buttons BUTTON {display:inline-block;border:0 none;background:var(--bg-input);font:inherit;padding:0 1rem;border-radius:var(--border-radius);cursor:pointer;color:inherit;margin-right:.5rem}
.editor .buttons BUTTON:hover {background:var(--bg-input-focus)}
.editor .buttons BUTTON I {margin-right:.5em;font-size:0.9em;opacity:0.7}
.editor .buttons BUTTON:hover I {opacity:1}
.editor .buttons .id {float:right;opacity:0.7}
.editor .buttons .id::before {content:'#';opacity:0.4}

.editing .listview {width:25%}
.editing .editor {transform:none}

@media (max-width:1240px) {
    nav {position:fixed;min-height:100vh;z-index:1000;transition:max-width .4s}
    nav LI I {width:var(--header-height)}
    nav:not(:hover) {max-width:var(--header-height)}
    .module {margin-left:var(--header-height)}
}
